
@define-color accent_color @BANANA_500;
@define-color color_primary @BANANA_300;

.welcome {
    background-color: inherit;
}

.reminduck-reminders-list {
    background-color: inherit;
}

.reminduck-reminders-list .list-item {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}

.reminduck-headerbar-dark * {
    color: black;
    text-shadow: none;
}

.reminduck-headerbar-dark .text-button * {
    color: white;
}

.reminduck-headerbar-dark .back-button  {
    color: white;
}